<main>
  <% if @user.errors.any? %>
    <% @user.errors.full_messages.each do |message| %>
      <%= message %>
    <% end %>
  <% end %>
  <div class="container">
    <div class="alert alert-dark" role="alert">
     <h3>編集画面 <i class="bi bi-arrow-bar-right"></i></h3>
    </div>
    <div class="col-sm-8">
      <table class="table table-bordered">
        <thead class="thead-light">
          <tr>
            <th>ニックネーム</th>
            <th>メールアドレス</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <%= form_with model: @user, url: users_mypage_path do |f| %>
              <th><%= f.text_field :name, class: "form-control" %></th>
              <th><%= f.text_field :email, class: "form-control" %></th>
              <th><%= f.submit "更新する", class: "btn btn-primary" %></th>
            <% end %>
            <th><%= link_to "退会する", users_mypage_verify_path, class: "btn btn-danger" %></th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>
