  <strong>ブックマーク一覧</strong></br>
    <table>
    <% @bookmarks.each do |bookmark| %>
      <tr>
        <td>写真。<%= attachment_image_tag bookmark.post, :image, :fill, 300, 300 %></td>
        <td>住所。<%= bookmark.post.address %></td>
        <td>説明。<%= bookmark.post.detail %></td>
        <td>ユーザー名。<%= bookmark.post.user.name %></td>
        <td><%= link_to "ブックマークを外す", post_bookmarks_path(bookmark.post), method: :delete %></td>
      </tr>
    <% end %>

   </table>