<!DOCTYPE html>
<head>
<meta charset="UTF-8">
<title>japanvel</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=yes">
</head>

<body>
  <main class="top">
	<h4 class="title text-center", style="padding: 15px;">各都道府県をクリックしますとその都道府県の観光地一覧を見ることができます！</h4>
	    <div id="japan-map" class="clearfix">
			<div id="hokkaido-touhoku" class="clearfix">
				<p class="area-title">北海道・東北</p>
					<div class="area">
						<%= link_to prefecture_path(1) do %>
					    <div id="hokkaido">
					      <p>北海道</p>
					    </div>
					  <% end %>
						<%= link_to prefecture_path(2) do %>
							<div id="aomori">
								<p>青森</p>
							</div>
						<% end %>
						<%= link_to prefecture_path(3) do %>
							<div id="iwate">
								<p>岩手</p>
							</div>
						<% end %>
						<%= link_to prefecture_path(4) do %>
							<div id="miyagi">
								<p>宮城</p>
							</div>
						<% end %>
							<%= link_to prefecture_path(5) do %>
							<div id="akita">
								<p>秋田</p>
							</div>
						<% end %>
						<%= link_to prefecture_path(6) do %>
							<div id="yamagata">
								<p>山形</p>
							</div>
						<% end %>
						<%= link_to prefecture_path(7) do %>
							<div id="fukushima">
								<p>福島</p>
							</div>
					  <% end %>
					</div>
			</div>
		
			<div id="kantou">
				<p class="area-title">関東</p>
					<div class="area">
						<%= link_to prefecture_path(8) do %>
							<div id="ibaraki">
								<p>茨城</p>
							</div>
						<% end %>
						<%= link_to prefecture_path(9) do %>
							<div id="tochigi">
								<p>栃木</p>
							</div>
						<% end %>
						<%= link_to prefecture_path(10) do %>
							<div id="gunma">
								<p>群馬</p>
							</div>
						<% end %>
						<%= link_to prefecture_path(11) do %>
							<div id="saitama">
								<p>埼玉</p>
							</div>
						<% end %>
						<%= link_to prefecture_path(12) do %>
							<div id="chiba">
								<p>千葉</p>
							</div>
						<% end %>
						<%= link_to prefecture_path(13) do %>
							<div id="tokyo">
								<p>東京</p>
							</div>
						<% end %>
						<%= link_to prefecture_path(14) do %>
							<div id="kanagawa">
								<p>神奈川</p>
							</div>
						<% end %>
					</div>
			</div>
		
			<div id="tyubu" class="clearfix">
				<p class="area-title">中部</p>
					<div class="area">
						<%= link_to prefecture_path(15) do %>
							<div id="nigata">
								<p>新潟</p>
							</div>
						<% end %>
						<%= link_to prefecture_path(16) do %>
							<div id="toyama">
								<p>富山</p>
							</div>
						<% end %>
						<%= link_to prefecture_path(17) do %>
							<div id="ishikawa">
								<p>石川</p>
							</div>
						<% end %>
						<%= link_to prefecture_path(18) do %>
							<div id="fukui">
								<p>福井</p>
							</div>
						<% end %>
						<%= link_to prefecture_path(19) do %>
							<div id="yamanashi">
								<p>山梨</p>
							</div>
						<% end %>
						<%= link_to prefecture_path(20) do %>
							<div id="nagano">
								<p>長野</p>
							</div>
						<% end %>
						<%= link_to prefecture_path(21) do %>
							<div id="gifu">
								<p>岐阜</p>
							</div>
						<% end %>
						<%= link_to prefecture_path(22) do %>
							<div id="shizuoka">
								<p>静岡</p>
							</div>
						<% end %>
						<%= link_to prefecture_path(23) do %>
							<div id="aichi">
								<p>愛知</p>
							</div>
					  <% end %>
					</div>
			</div>
		
			<div id="kinki" class="clearfix">
				<p class="area-title">近畿</p>
					<div class="area">
						<%= link_to prefecture_path(24) do %>
							<div id="mie">
								<p>三重</p>
							</div>
						<% end %>
						<%= link_to prefecture_path(25) do %>
							<div id="shiga">
								<p>滋賀</p>
							</div>
						<% end %>
						<%= link_to prefecture_path(26) do %>
							<div id="kyoto">
								<p>京都</p>
							</div>
						<% end %>
						<%= link_to prefecture_path(27) do %>
							<div id="osaka">
								<p>大阪</p>
							</div>
						<% end %>
						<%= link_to prefecture_path(28) do %>
							<div id="hyougo">
								<p>兵庫</p>
							</div>
						<% end %>
						<%= link_to prefecture_path(29) do %>
							<div id="nara">
								<p>奈良</p>
							</div>
						<% end %>
						<%= link_to prefecture_path(30) do %>
							<div id="wakayama">
								<p>和歌山</p>
							</div>
						<% end %>
					</div>
			</div>
		
			<div id="tyugoku" class="clearfix">
				<p class="area-title">中国</p>
					<div class="area">
						<%= link_to prefecture_path(31) do %>
							<div id="tottori">
								<p>鳥取</p>
							</div>
						<% end %>
						<%= link_to prefecture_path(32) do %>
							<div id="shimane">
								<p>島根</p>
							</div>
						<% end %>
						<%= link_to prefecture_path(33) do %>
							<div id="okayama">
								<p>岡山</p>
							</div>
						<% end %>
						<%= link_to prefecture_path(34) do %>
							<div id="hiroshima">
								<p>広島</p>
							</div>
						<% end %>
						<%= link_to prefecture_path(35) do %>
							<div id="yamaguchi">
								<p>山口</p>
							</div>
						<% end %>
					</div>
			</div>
		
			<div id="shikoku" class="clearfix">
				<p class="area-title">四国</p>
					<div class="area">
						<%= link_to prefecture_path(36) do %>
							<div id="tokushima">
								<p>徳島</p>
							</div>
						<% end %>
						<%= link_to prefecture_path(37) do %>
							<div id="kagawa">
								<p>香川</p>
							</div>
						<% end %>
						<%= link_to prefecture_path(38) do %>
							<div id="ehime">
								<p>愛媛</p>
							</div>
						<% end %>
						<%= link_to prefecture_path(39) do %>
							<div id="kouchi">
								<p>高知</p>
							</div>
						<% end %>
					</div>
			</div>
		
			<div id="kyusyu" class="clearfix">
				<p class="area-title">九州・沖縄</p>
					<div class="area">
						<%= link_to prefecture_path(40) do %>
							<div id="fukuoka">
								<p>福岡</p>
							</div>
						<% end %>
						<%= link_to prefecture_path(41) do %>
							<div id="saga">
								<p>佐賀</p>
							</div>
						<% end %>
						<%= link_to prefecture_path(42) do %>
							<div id="nagasaki">
								<p>長崎</p>
							</div>
						<% end %>
						<%= link_to prefecture_path(43) do %>
							<div id="kumamoto">
								<p>熊本</p>
							</div>
						<% end %>
						<%= link_to prefecture_path(44) do %>
							<div id="oita">
								<p>大分</p>
							</div>
						<% end %>
						<%= link_to prefecture_path(45) do %>
							<div id="miyazaki">
								<p>宮崎</p>
							</div>
						<% end %>
						<%= link_to prefecture_path(46) do %>
							<div id="kagoshima">
								<p>鹿児島</p>
							</div>
						<% end %>
						<%= link_to prefecture_path(47) do %>
							<div id="okinawa">
								<p>沖縄</p>
							</div>
						<% end %>
					</div>
			</div>
		</div> <!-- japan-map -->
  </main>
</body>
</html>