<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Japanvel</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-info" >
        <div class="container">
           <a class="navbar-brand" href="/">
             <i class="fas fa-plane text-light">
               <span>Japanvel</span>
             </i>
           </a>
           <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
                <%= form_with url: search_path, method: :get, local: true do |f| %>
                <%= f.text_field :keyword, value: @keyword, class: "form-control mr-sm-2", placeholder: "キーワード検索", style:"display:inline-block; width:60%" %>
                <%= f.submit "検索する", name: nil, class: "btn btn-secondary my-2 my-sm-0" %>
            <% end %>
              <li><%= link_to "ユーザー情報・編集", users_mypage_path, class: 'fas fa-user-cog nav-link text-light' %></li>
              <li><%= link_to "投稿する", posts_path, class: 'fas fa-reply nav-link text-light' %></li>
              <li><%= link_to "ブックマーク", bookmarks_path, class: 'fas fa-bookmark nav-link text-light' %></li>
              <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'fas fa-sign-out-alt nav-link text-light'%></li>
            <% else %>
              <li><%= link_to "このサイトについて", about_path, class: 'fas fa-asterisk nav-link text-light' %></li>
              <li><%= link_to "ログイン", new_user_session_path, class: 'fas fa-sign-in-alt nav-link text-light' %></li>
              <li><%= link_to "新規登録", new_user_registration_path, class: 'fas fa-user-plus nav-link text-light' %></li>
            <% end %>
           </ul>
        </div>
      </nav>
   </header>
    <%= yield %>
  </body>
</html>