<div class="md-auto">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-md-6 col-sm-10 mx-2 mx-sm-auto text-center shadow-lg rounded px-0 my-5">
         <h3 class="text-dark bg-light py-4 mb-0">
           <strong>ログイン</strong>
          </h3>

        <div class="form-body p-4">
          <div class="mx-auto text-center">
            <p class="alert"><%= alert %></p>
            <p><%= render "devise/shared/error_messages", resource:@user %></p></br>
            <p>メールアドレスと<br>パスワードを入力してください。</p>
          </div>

            <div class="new_user">
              <%= form_with model: @user, url: user_session_path, local: true do |f| %>
                <div class="field"></br>
                  <%= f.email_field :email, :size=>"45", autofocus: true, autocomplete: "email", placeholder: "メールアドレス", class: "form-control" %>
                </div>
                <div class="field"></br>
                  <%= f.password_field :password, :size=>"45", autocomplete: "new-password", placeholder: "パスワード", class: "form-control" %>
                </div>
                <div class="field"></br>
                  <%= f.submit "ログイン", class: "btn btn-outline-secondary" %>
                </div>
                  <%= render "devise/shared/links" %>
              <% end %>
          </div>
        </div><!--form-body p-4-->
      </div><!--col sm-5-->
    </div><!--row no-gutters-->
  </div><!--container-->
</div><!--md-auto-->



