<main>
  <div class="container">
    <div class="alert alert-dark" role="alert">
     <h3><%= @area.name %>の投稿一覧</h3>
    </div>
  </div>
  <div class="album py-5">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <% @posts.each do |post| %>
          <div class="col">
            <div class="card shadow-sm">
              <%= attachment_image_tag post, :image, :fill, 300, 300, class: "bd-placeholder-img card-img-top" %>
                <div class="cart-body">
                  <ul class="list-group">
                    <li class="list-group-item">
                    </li>
                    <li class="list-group-item">
                      場所名
                      <i class="fas fa-angle-double-right"><%= post.place_name %></i>
                    </li>
                    <li class="list-group-item">
                      住所
                      <i class="fas fa-angle-double-right"><%= post.address %></i>
                    </li>
                    <li class="list-group-item">
                      詳細
                      <i class="fas fa-angle-double-right"></i><%= post.detail %>
                    </li>
                    <li class="list-group-item">
                    </li>
                  </ul>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <% if post.user == current_user %>
                        <%= link_to "edit", edit_post_path(post), class: "bd-placeholder-img card-img-top btn btn-success mr-sm-2" %>
                        <%= link_to "Destroy", post_path(post), method: :delete, data: { confirm: "削除してもよろしいですか？", cancel: "やめる", commit: "削除する"}, title: "削除の確認", class: "bd-placeholder-img card-img-top btn btn-danger" %>
                      <% end %>
                    </div>
                    <div class="btn-group">
                      <% if user_signed_in? %>
                        <% if post.bookmarked_by?(current_user) %>
                          <%= link_to "ブックマークを外す", post_bookmarks_path(post), method: :delete, class: "btn btn-outline-danger" %></br>
                          <% else %>
                          <%= link_to "ブックマークに追加する", post_bookmarks_path(post), method: :post, class: "btn btn-outline-primary" %></br>
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                </div>
             </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</main>
