<main>
  <div class="container">
    <div class="alert alert-dark" role="alert">
      <h3>投稿画面</h3>
    </div>
    <% if @post.errors.any? %>
      <%= @post.errors.count %>件のエラーが発生
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %>
        <% end %>
    <% end %>
    <%= form_with model: @post, url:posts_path, method: :post, local:true do |f|  %>
    <div class="row alert bg-light">
      <dt class="col-sm-4">
        <div class="field">
        写真</br>
          <%= attachment_image_tag @post, :image, fallback: "no_image.jpg", id: "img_prev", style: "height: 250px; width: 250px;" %></br>
          <%= f.file_field :image, class: "filestyle", "data-buttonText": "ファイル選択" %>
        </div>
      </dt>
      <dt class="col-sm-8">
        <div class="py-2">
          場所(都道府県) <%= f.collection_select :area_id, Area.all, :id, :name, {prompt: true }, class: "form-control" %>
        </div>
        <div class="py-2">
          場所名 <%= f.text_field :place_name, class: "form-control mr-sm-2", placeholder: "場所名を記入" %>
        </div>
        <div class="py-2">
          住所 <%= f.text_field :address, class: "form-control mr-sm-2", placeholder: "例；〇〇市〇〇町〇〇と記入" %>
        </div>
        <div class="py-2">
          詳細 <%= f.text_area :detail, class: "form-control mr-sm-2", placeholder: "詳細を記入" %>
        </div>
        <div class="col-md-2 col-md-offset-5">
          <%= f.submit "投稿する", class: "btn btn-primary" %>
        </div>
      </dt>
    </div>
    <% end %>
  </div>
</main>
<script>
$(document).on("turbolinks:load", function(){
  function readURL(input) {
    if(input.files && input.files[0]){
      var reader = new FileReader();
      reader.onload = function (e) {
        $('#img_prev').attr('src', e.target.result);
      }
      reader.readAsDataURL(input.files[0]);
    }
  }
  //$("#post_post_image").change(function(){
  $("input[type=file]").change(function(){
    console.log("111");
    readURL(this);
  });
});
</script>

mysql -u root -p -h rds-mysql-server.c3qznki53wbf.ap-northeast-1.rds.amazonaws.com
ssh -i ~/.ssh/practice-aws.pem ec2-user@54.249.115.151
